<div class="img-list" *ngIf="files || (files$ | async).length > 0">
  <div
    *ngFor="let item of files; index as i; trackBy: trackByItem"
    class="imgInfo"
  >
    <div class="img" 
      (contextmenu)="contextmenu($event)"
    >
      <img [src]="item.src" />
      <div class="spin" [class.spin_visi]="item.state !== 'await'">
        <img src="/assets/loading.gif" />
      </div>
    </div>
    <div class="img_info">
      <div class="quality">
        <span class="title">{{ "quality" | translate }}</span>
        <nz-slider
          class="nz-slider"
          [nzDisabled]="item.state == 'await'"
          [ngModel]="item.quality"
          [nzTooltipVisible]="'never'"
          (ngModelChange)="qualityChange(item, $event)"
          (nzOnAfterChange)="qualityAfterChange(item, $event)"
        ></nz-slider>
        <span class="number">{{ item.quality }}</span>
      </div>
      <div class="size">
        <div [class]="item.state" (click)="modalInfo(item)">
          {{ item.state | translate }}
        </div>
        <div class="percentage">
          <span>{{ item.nowDataSize || "--" }} </span>
          <span>/ {{ item.rawDataSize }}</span>
          <span>{{ item.nowDataSize && "(" + item.percentage + ")" }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="contextmenu" *ngIf="isOpen" [@zoom]="'active' " #contextmenuEl>
    <div class="popover">
      <div>
        <div class="placement"></div>
        <div class="tooltip-content">
          <ng-template *ngTemplateOutlet="adHost"></ng-template>
        </div>
      </div>
    </div>
  </div>

<ng-template #adHost>
  <ul >
    <li>保存并覆盖</li>
    <li>导出到新文件夹</li>
  </ul>
</ng-template>
</div>
