@img-w: 250px;
@img-maxw: 230px;
@img-minw: 200px;
@img-mrgin: 20px;
@border-width: 8px;
@classname: .border-tl-tr;


@{classname} {
  border-radius: @border-width;
}

.img-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  .pr(@img-mrgin);
  .pb(@img-mrgin);

  .imgInfo {
    flex-basis: @img-w;
    min-width: @img-minw;
    .mt(@img-mrgin);
    .ml(@img-mrgin);
    .bg(#fff);
    transition: box-shadow 0.2s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    &.hidden {
      visibility: hidden;

      * {
        visibility: hidden;
      }
    }

    .img {
      .border-tl-tr;
      position: relative;
      .w(@img-w);
      .h(@img-w);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        .border-tl-tr;
        display: block;
        max-width: @img-maxw;
        max-height: @img-maxw;
        cursor: pointer;
      }

      .spin {
        position: absolute;
        .t(0);
        .l(0);
        .r(0);
        .b(0);
        .m(auto);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, .25);
        border-radius: 8px 8px 0 0;
      }

      .spin_visi {
        visibility: hidden;
      }
    }

    .quality {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .nz-slider {
        flex: 1;
        .m(0 5px);
      }
    }

    .size {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .await {
        .c(gray);
      }

      .finish {
        .c(green);
      }

      .error {
        .c(red);
        cursor: pointer;
      }

      .percentage {
        user-select: text;
      }
    }

    .quality,
    .size {
      .p(0 10px);
      .lh(32px);
      border-top: 1px solid #dbdbdb;
    }
  }
}



.contextmenu {
  position: absolute;
  pointer-events: auto;
  z-index: 1000;
  .popover {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    top: 0;
    left: 0;
    z-index: 1030;
    font-weight: normal;
    white-space: normal;
    text-align: left;
    cursor: auto;
    user-select: text;
    padding-left: 10px;
    .placement {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: #fff;
      border-left-color: #fff;
      box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
      display: block;
      width: 8px;
      height: 8px;
      background: transparent;
      border-style: solid;
      border-width: 4px;
      position: absolute;
      top: 50%;
      left: 6px;
      transform: translateY(-50%) rotate(45deg);
    }
    .tooltip-content {
      padding: 12px 16px;
      color: rgba(0, 0, 0, 0.85);
      background-color: #fff;
      background-clip: padding-box;
      border-radius: 2px;
      box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 9px 28px 8px rgba(0, 0, 0, 0.05);
    }
  }

  
}
