<div class="img-list" *ngIf="(files$ | async)!.length > 0">
  <div *ngFor="let item of files$ | async; index as i; trackBy: trackByItem" class="imgInfo">
    <div
      class="img"
      [disabled]="item.state != 'finish'"
      (menuListClick)="menuListClick($event, item)"
      appContextmenu
    >
      <img [src]="item.src" />
      <img src="./assets/loading.gif" class="spin" [class.spin_visi]="item.state !== 'await'" />
    </div>
    <div class="img_info">
      <div class="ico"></div>
      <div class="name">{{ item.name }}</div>
      <div class="quality">
        <span class="title">{{ 'quality' | translate }}</span>
        <nz-slider
          class="nz-slider"
          [nzDisabled]="item.state == 'await' || item.state == 'error'"
          [ngModel]="item.quality"
          [nzTooltipVisible]="'never'"
          (ngModelChange)="qualityChange(item, $event)"
          (nzOnAfterChange)="qualityAfterChange(item, $event)"
        ></nz-slider>
        <span class="number">{{ item.quality }}</span>
      </div>
      <div class="size">
        <div [class]="item.state" (click)="modalInfo(item)">
          {{ item.state | translate }}
        </div>
        <div class="percentage">
          <span>{{ item.nowDataSize }}</span>
          <span>/ {{ item.rawDataSize }}</span>
          <span>{{ item.nowDataSize != '--' ? '(' + item.percentage + ')' : '' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
