<ng-template
  cdkConnectedOverlay
  #overlay="cdkConnectedOverlay"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayPositions]="positions"
  (overlayOutsideClick)="onOutsideClick($event)"
  (detach)="hide()"
>
  <div class="contextmenu" [@zoom]="'active'">
    <div class="popover">
      <div class="placement"></div>
      <div class="tooltip-content">
        <ul [@zoom]="'active'">
          <!-- <li 
            (click)="menuListClick('viewImg')"
            >{{'viewImg'| translate}}</li> -->
          <li (click)="menuListClick('openFileDir')">{{ 'openFileDir' | translate }}</li>
          <li (click)="menuListClick('saveAs')">{{ 'saveAs' | translate }}</li>
          <hr />
          <li (click)="menuListClick('remove')" class="delete">{{ 'remove' | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
