<div class="container">
  <div class="navbar">
    <button>
      <app-icon name="add"></app-icon>
      <span>{{ 'ICON.ADD' | translate }}</span>
    </button>
    <button>
      <app-icon name="down"></app-icon>
      <span>{{ 'ICON.DOWN' | translate }}</span>
    </button>
    <button>
      <app-icon name="delete"></app-icon>
      <span>{{ 'ICON.CLEAN' | translate }}</span>
    </button>
  </div>
  <div 
    class="view" 
    (drop)="fileAdd($event)"
    (dragOver)="$event.preventDefault()"
  > 
    拖拽文件到此区域
    <div *ngFor="let item of (files$ | async)">
      <!-- 禁止图片拖拽 -->
      <img [src]="item" alt="" ondragstart="return false">
    </div>
  </div>
</div>
