.container{
    .bg(#eee);
    .navbar{
        .w(100%);
        .h(60px);
        .bg(#fff);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        display: flex;
        >button{
            .w(70px);
            .h(100%);
            background: none;
            border: 0;
            outline: none;
            transition: 0.2s;
            font-size: 20px;
            .c(#666);
            span{
                font-size: 14px;
                display: block;
                .w(100%);
                .t-c;
                transition: 0.2s;
            }
            &:hover{
                .c(#000);
            }
        }
        >button:not(:disabled){
            cursor: pointer;
        }
    }
    .view{
        position: absolute;
        min-width: 540px;
        min-height: 800px;
        .t(60px);
        .b(0);
        .l(0);
        .r(0);
        color: red;
        .p(30*@px);
        overflow: scroll;
    }
}