.container {
  .bg(#eee);

  .menu {
    position: absolute;
    .t(0);
    .l(0);
    .w(240px);
    z-index: 3;
  }

  .view {
    position: absolute;
    .t(0);
    .b(0);
    .l(0);
    .r(0);
    z-index: 2;
    min-width: 400px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    .progress {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 1;

      &.hidden {
        opacity: 0;
        top: -10px;
        transition: all 0.2s;
      }
    }

    .text {
      color: gray;
      margin: auto;

      .text-big {
        font-size: 50px;
      }
      .outdir {
        display: flex;
        align-items: center;
        .text-outdir{
          user-select: text;
        }
        .openDir{
          cursor: pointer;
        }
        .folder-open{
          display: flex;
        }
      }
      .quality{
        position: relative;
        display: flex;
        align-items: center;
        .ng-untouched{
          flex: 1;
        }
        .val{
          .t-c;
        }
      }
    }
  }

}

.ant-progress-line {
  .ant-progress-text {
    display: none;
  }
}

.dragUp {
  background-color: red;
  * {
    pointer-events: none;
  }
}